.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header{
  height:50px;
  background-color: #61dafb;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.todo-list{
  background-color: white;
  margin: auto;
  width: 50%;
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),

    0 10px 0 -5px #eee,

    0 10px 1px -4px rgba(0,0,0,0.15),

    0 20px 0 -10px #eee,

    0 20px 1px -9px rgba(0,0,0,0.15);

  padding : 30px;
}

.todo-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 50%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight :100;
  font-size: 15px;
  color: #333333;
}



input[type=checkbox]{
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus{
  outline:0;
}